#progress {
  width:300px;
  margin-left:8px;
}

#status {
	margin:10px; 
	float:left; 
	display:block; 
	width:100%;
}

#joinsessionbyid {
	float:right; 
	display:none;
}

#cast {
	margin-top: 20px;
}